// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;

  &.login {
    background-image: url(/img/otomai-blurred.jpg);
  }

  &.register {
    background-image: url(/img/madestram-blurred.jpg);
  }
}

.autocomplete {
  input {
    @extend .form-control;
  }

  ul {
    @extend .list-unstyled;
    @extend .bg-white;
    @extend .shadow-sm;
    @extend .mb-0;

    border: 1px solid rgba(0, 0, 0, 0.125);

    li {
      @extend .my-2;
      @extend .ml-2;
    }
  }
}